.PriceFilter__inputs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.PriceFilter__inputs >span {
  padding: 0 12px;
  text-align: center;
}

.PriceFilter__inputs input:focus {
  outline: none;
}
.PriceFilter__input-wrapper {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  display: flex;
  padding-right: 16px;
  position: relative;
}
.PriceFilter__input-wrapper::after {
  content: '\0024'; /* $ sign */
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
.PriceFilter__input-wrapper input {
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  max-width: 90px;
  text-align: right;
}
.PriceFilter__slider-rail {
  background-color: rgb(65 66 71 / 8%);
  border-radius: 10px;
  cursor: pointer;
  height: 12px;
  position: absolute;
  width: 100%;
}
.PriceFilter__slider-track {
  background-color: #0070f0;
  border-radius: 3px;
  cursor: pointer;
  height: 12px;
  position: absolute;
}
.PriceFilter__slider-handle {
  background-image: linear-gradient(to top, #f5f5fa, #fff);
  border-radius: 50%;
  box-shadow: 0 1px 6px 0 #0000004d;
  cursor: grab;
  height: 24px;
  outline: none;
  position: absolute;
  transform: translate(-50%, -6px); /* half of rail/track height */
  width: 24px;
  z-index: 1;
}
